* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}
input, select, button {
  font-family: monospace;
  font-size: 14px;
  padding: 4px 8px;
  margin: 2px;
}
button:disabled {
  opacity: 0.5;
}
